<a href="https://colab.research.google.com/github/mukti222/EDA_superstore_python/blob/main/10_study_case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Gunakan dataset ini dan jawablah pertanyaan berikut dengan benar

1. Berapa nilai total penjualan selama tahun 2017?
2.Berapa kenaikan nilai penjualan dari tahun 2015 ke tahun 2016?
3. Siapakah konsumen dengan nilai penjualan tertinggi secara keseluruhan
4. Berapa kali konsumen bernama Claire Gute melakukan transaksi?
5 Produk apa yang mendatangkan keuntungan terbanyak di tahun 2016?
6 Produk apa yang mendatangkan kerugian terbesar di tahun 2016?
7 Produk apa yang paling best seller di tahun 2015? (dilihat berdasarkan unit yang terjual)
8 Buatlah line chart yang menunjukan nilai penjualan dari waktu ke waktu
9 Buatlah bar chart yang menunjukkan total keuntungan berdasarkan region
10 Buatlah bar chart yang menunjukkan total nilai penjualan berdasarkan region dan product category

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/content/superstore.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   object
 3   ship_date      9994 non-null   object
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  subcategory    9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   int64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [3]:
# ############################################### JAWABAN NO 1 ##############################################################

df['order_date'] = pd.to_datetime(df['order_date'])
df['ship_date'] = pd.to_datetime(df['ship_date'])

# filter th 2017
data_2017 = df[df['order_date'].dt.year == 2017]

# Pivot table untuk nilai penjualan (sales) pada tahun 2017
pivot_2017 = data_2017.pivot_table(
    index=pd.Grouper(freq='y',key='order_date'),
    values='sales',
    aggfunc='sum')

# Tampilkan hasil pivot table
print(pivot_2017)

                  sales
order_date
2017-12-31  733215.2552

In [7]:
# ############################################ JAWABAN NO 2 #######################################################

total_2015 = df[df['order_date'].dt.year == 2015]
sales_2015 = total_2015.pivot_table(
    index=pd.Grouper(freq='y',key='order_date'),
    values='sales',
    aggfunc='sum')
print(sales_2015)

total_2016  = df[df['order_date'].dt.year == 2016]
sales_2016 = total_2016.pivot_table(
    index=pd.Grouper(freq='y',key='order_date'),
    values='sales',
    aggfunc='sum')
print(sales_2016)

kenaikan_penjualan = sales_2016.iloc[0, 0] - sales_2015.iloc[0, 0]
kenaikan_penjualan

                 sales
order_date
2015-12-31  470532.509
                 sales
order_date
2016-12-31  609205.598

138673.08899999998